ipywidgets==8.0.4
notebook==6.5.2
ensure==1.0.2


#Dev requirements
pytest
tox
black
flake8
mypy
huggingface_hub
transformers
openai
pandas
fairscale
fire
numpy
Requests
sentencepiece
torch
tqdm
wandb
textract
python-dotenv

-e .